<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change pass</title>
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark">
	<div class = "align-items-center">
		<div class=" d-flex justify-content-center align-items-center vh-100" id="divContainer">
			<div class="col-4 card" id="divFind">
				<div class="card-header">
					<h2 class="col-12 text-center">Update User Password</h2>
				</div>
				
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Password:</p>
						<input type="text" name="name" id="pass1" value="" />
					</div>
                    <div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Confirm Password:</p>
						<input type="text" name="name" id="pass2" value="" />
					</div>
					<div class="d-flex justify-content-center align-items-center divRow">
						<button class="btn btn-primary col-2" onclick="changePass()">Save</button>
					</div>
				</div>
			</div>
        </div>
	</div>
	

    <script src="js/profile.js"></script>
	
</body>
</html>
