<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Prof</title>
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark">
	<div class = "align-items-center">
		<div class=" d-flex justify-content-center align-items-center vh-100" id="divContainer">
			<div class="col-4 card" id="divFind">
				<div class="card-header">
					<h2 class="col-12 text-center">User Profile Information</h2>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Name:</p>
						<p class="col-5 text-center" id="output1"></p>
					</div>
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5"> Username:</p>
						<p class="col-5 text-center" id="output2"></p>
					</div>
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5"> email</p>
						<p class="col-5 text-center" id="output3"></p>
					</div>
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Password</p>
						<p class="col-5 text-center" id="output4"></p>
					</div>
					<div class="d-flex justify-content-center align-items-center divRow">
						<p>Change user info</p>
					</div>
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Name:</p>
						<input type="text" name="name" id="fname" value="" />
					</div>
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Username:</p>
						<input type="text" name="name" id="uname" value="" />
					</div>
					<div class="d-flex justify-content-between align-items-center divRow">
						<p class ="col-5">Email:</p>
						<input type="text" name="name" id="Email" value="" />
					</div>
					<div class="d-flex justify-content-end align-items-center divRow">
						<button class="btn btn-primary col-2" onclick="editFunction()">update</button>
						
					</div>
				</div>
			</div>
        </div>
	</div>
	

    <script src="js/profile.js"></script>
	<script>
		func();
	</script>
</body>
</html>